<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <title>新規会員登録画面</title>
</head>
<body>
<div class="header-contents">
  <h1>新規会員登録</h1>
</div>
<div class="main-contents">
  <form class="form-area" th:method="post" th:action="@{/signup}" th:object="${accountForm}">
    <div class="form-content">
      <label>アカウント</label><br/>
      <input type="text" th:name="account" th:value="*{account}"/><br/>
    </div>
    <div class="form-content">
      <label>パスワード</label><br/>
      <input type="password" th:name="password" th:value="*{password}"/><br/>
    </div>
    <div class="form-content">
      <label>パスワード確認用</label><br/>
      <input type="password" th:name="passwordRetype" th:value="*{passwordRetype}"/><br/>
    </div>
    <div class="form-content">
      <label>氏名</label><br/>
      <input type="text" th:name="name" th:value="*{name}"/><br/>
    </div>
    <div class="form-content">
      <label>住所</label><br/>
      <input type="text" th:name="name" th:value="*{address}"/><br/>
    </div>
    <div class="form-content">
      <label>クレジットカード番号</label><br/>
      <input type="text" th:name="name" th:value="*{credit}"/><br/>
    </div>
    <div class="form-content">
      <label>種類</label>
      <select th:name="role">
        <option value="user">利用者</option>
        <option value="seller">販売者</option>
      </select>
    </div>
    <input type="submit" value="登録" /><br/>
  </form>
</div>
</body>
</html>