<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
        <title>カート</title>
    </head>
    <body>
        <h2>カート</h2>

        <div class="resultMessage" th:if="${resultMessages != null}">
                <li th:text="${resultMessage}"/>
            <br/>
        </div>
        <table class="table carts">
            <thead class="table-light">
                <tr class="cartsTableTitle">
                    <th>写真</th>
                    <th>商品名</th>
                    <th>価格</th>
                    <th>個数</th>
                </tr>
            </thead>
            <tbody>
                <div th:each="cart : ${cartForms}">
                    <tr>
                        <td>
                            <p><image src="${cart.productsImage.pass}"/></p>
                        </td>
                        <td>
                            <p th:text="${cart.product.name}"/>
                        </td>
                        <td>
                            <p th:text="${cart.product.value}"/>
                        </td>
                        <td>
                            <p th:text="${cart.number}"/>
                        </td>
                        <td>
                            <form th:action="@{/addCart/{productId}/{number}(number = 1,productId = 1}" method="post">
                                <input type="submit" value="check">
                            </form>
                        </td>
                    </tr>
                </div>
            </tbody>
        </table>
    </body>
</html>