<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
  <script th:src="@{/js/main.js}"></script>
    <title>通知一覧</title>
</head>
<body>
<div th:include="header"></div>
  <div class="container text-center">
    <h2>通知一覧</h2>
    <div class="my-3">
      <a th:href="@{/noticeArchive}">
        <input type="button" value="通知アーカイブ一覧" class="btn btn-secondary">
      </a>
    </div>

    <!-- 商品問い合わせ(userとseller)-->
    <button class="btn btn-primary position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#productContacts" aria-expanded="false" aria-controls="productContacts">
      商品の問い合わせに関するお知らせ
      <th:block th:if="${productContacts.size()} > 0">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
             [[${productContacts.size()}]]
             <span class="visually-hidden">unread messages</span>
        </span>
      </th:block>
    </button>
    <div class="collapse" id="productContacts">
      <div class="card card-body">
        <div class="list-group">
          <div th:if="${#lists.isEmpty(productContacts)}">
            通知はありません。
          </div>
          <div th:if="!${#lists.isEmpty(productContacts)}" class="list-group-item">
            <div th:each="productContact : ${productContacts}">
              <li th:text="${productContact.productName} + 'に新たなコメントが来ています'" />
              <p>内容：<span th:text="${productContact.text}" /></p>
              <p><a th:href="@{/productDetail?id={id}(id=${productContact.productId})}">対象の商品URL</a></p>
              <form th:method="put" th:action="@{/noticeList/readProductNotice/{id}(id=${productContact.id})}">
                <input type="submit" value="既読にする" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3" />
    <!--発送通知(userとseller)-->
    <button class="btn btn-primary position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#productShipped" aria-expanded="false" aria-controls="productShipped">
      商品発送に関するお知らせ
      <th:block th:if="${(productShipped.size() + productShippedForSeller.size())} > 0">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
             [[${productShipped.size() + productShippedForSeller.size()}]]
             <span class="visually-hidden">unread messages</span>
        </span>
      </th:block>
    </button>
    <div class="collapse" id="productShipped">
      <div class="card card-body">
        <div class="list-group">
          <div th:if="${#lists.isEmpty(productShipped)} AND ${#lists.isEmpty(productShippedForSeller)}">
            通知はありません。
          </div>
          <div th:if="!${#lists.isEmpty(productShippedForSeller)}" class="list-group-item">
            <div th:each="productShippedForSeller : ${productShippedForSeller}">
              <li th:text="${productShippedForSeller.productName} + 'が購入されました。'"></li>
              <div>下記の住所へ発送をお願いします。</div>

              <div>発送が完了しましたら発送完了ボタンを押してください。</div>
              <form th:method="put" th:action="@{/noticeList/productShipped/{id}(id=${productShippedForSeller.id})}" onSubmit="return CheckShipped()">
                <input type="submit" value="発送完了" class="btn btn-primary">
              </form>
            </div>
          </div>
          <div th:if="!${#lists.isEmpty(productShipped)}" class="list-group-item">
            <div th:each="productShipped : ${productShipped}">
              <li th:text="${productShipped.productName} + 'が発送されました。到着まで少々お待ちください。'" />
              <form th:method="put" th:action="@{/noticeList/readProductNotice/{id}(id=${productShipped.id})}">
                <input type="submit" value="既読にする" class="btn btn-primary">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-3" />
    <!--商品在庫通知(sellerのみ)-->
    <div sec:authorize="hasRole('seller')">
      <button class="btn btn-primary position-relative" type="button" data-bs-toggle="collapse" data-bs-target="#productStock" aria-expanded="false" aria-controls="productStock">
        商品在庫に関するお知らせ
        <th:block th:if="${productStock.size()} > 0">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
             [[${productStock.size()}]]
             <span class="visually-hidden">unread messages</span>
        </span>
        </th:block>
      </button>
      <div class="collapse" id="productStock">
        <div class="card card-body">
          <div class="list-group">
            <div th:if="${#lists.isEmpty(productStock)}">
              <div class="list-group-item">
                通知はありません。
              </div>
            </div>
            <div th:if="!${#lists.isEmpty(productStock)}" class="list-group-item">
              <div th:each="productStock : ${productStock}">
                <li th:text="${productStock.productName} + 'の在庫が0になりました。'" />
                <form th:method="put" th:action="@{/noticeList/productStock/{id}(id=${productStock.id})}">
                  <input type="submit" value="既読にする" class="btn btn-primary">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
  </div>
</body>
</html>