<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
    <title>購入画面</title>
</head>
<body>
<div th:each="cart : ${cartForms}">
    <p th:text="${cart.product.name}"></p>
    <p th:text="${cart.productsImage.pass}"></p>
    <p th:text="${cart.product.value}"></p>
    <p th:text="${cart.number}"></p>
    <!--
    <p th:text="${cart.account.name}"></p>
    <p th:text="${cart.account.address}"></p>
    <p th:text="${cart.account.credit}"></p>
    -->
</div>
</body>
</html>