<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.indoor.mapper.AccountMapper">
    <select id="findByAccount" resultType="com.example.indoor.entity.Account">
        select *
        from accounts
        where account = #{account}
    </select>
    <!-- レコード追加 -->
    <insert id="save">
        insert into accounts(account, password, name, address, credit, role, isStopped)
        values (#{account}, #{password}, #{name}, #{address}, #{credit}, #{role}, #{isStopped})
    </insert>
</mapper>