<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.indoor.mapper.CartMapper">
<!--    ログインアカウントカート取得-->
<!--    カートマスタマッピング-->
    <resultMap id="Cart" type="com.example.indoor.repository.entity.Cart">
        <result column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="account_id" property="accountId"/>
        <result column="number" property="number"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <collection property="product" resultMap="product"/>
    </resultMap>
<!--    商品マスタマッピング-->

    <select id="findCart" resultMap="Cart">
        SELECT *
        FROM carts
        INNER JOIN products
        ON carts.product_id = product.id
        INNER JOIN product_image
        ON carts.product_id = product_image.product_id
        INNER JOIN (SELECT product_id as product_id,AVG(score) from review GROUP BY product_id)
        ON review.product.id = carts.product_id
    </select>

</mapper>