<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.indoor.mapper.CartMapper">
<!--    カート情報取得-->
    <select id="findCarts" resultMap="Cart">
        select *
        from carts
        INNER JOIN products
        ON carts.product_id = products.id
        INNER JOIN  product_images
        ON carts.product_id = product_images.product_id
        where carts.account_id = ${id}
    </select>
<!--    カートマッピング-->
    <resultMap id="Cart" type="com.example.indoor.entity.Cart">
        <result column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="account_id" property="accountId"/>
        <result column="number" property="number"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
        <collection property="product" resultMap="product"></collection>
        <collection property="productsImage" resultMap="productsImage"></collection>
    </resultMap>
<!--リレーション用商品マスタマッピング-->
    <resultMap id="product" type="com.example.indoor.entity.Product">
        <result column="id" property="id"/>
        <result column="account_id" property="accountId"/>
        <result column="name" property="name"/>
        <result column="value" property="value"/>
        <result column="category" property="category"/>
        <result column="stock" property="stock"/>
        <result column="isStopped" property="isStopped"/>
        <result column="description" property="description"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>
<!--    リレーション用商品画像マスタのマッピング-->
    <resultMap id="productsImage" type="com.example.indoor.entity.ProductImage">
        <result column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="pass" property="pass"/>
        <result column="created_date" property="createdDate"/>
        <result column="updated_date" property="updatedDate"/>
    </resultMap>
<!--    カートの追加-->
    <insert id="addCart">
        INSERT INTO carts(
        product_id,
        account_id,
        number
        ) VALUES (
        ${productId},
        ${id},
        ${number}
        )
    </insert>

<!--    カート注文数マイナス-->
    <update id="countDownCart">
        UPDATE carts SET
        number = ${cart.number - 1}
        WHERE
        id = ${cart.id}
    </update>
<!--    カート注文数プラス-->
    <update id="countUpCart">
        UPDATE carts SET
        number = ${cart.number + 1}
        WHERE
        id = ${cart.id}
    </update>

<!--    カートの削除-->
    <delete id="deleteCart">
        DELETE
        FROM carts
        WHERE id = ${id}
    </delete>
    
<!--    カート内重複検索-->
    <select id="findCart" resultMap="Cart">
        select *
        from carts
        where carts.account_id = ${id}
        AND carts.product_id = ${productId}
    </select>

</mapper>