<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.indoor.mapper.ProductMapper">
    <select id="find" resultType="com.example.indoor.entity.Product">
        SELECT * FROM products WHERE id = #{id}
    </select>
    <!-- 内部結合 -->
    <resultMap id="productDetail" type="com.example.indoor.entity.Product">
        <result column="id" property="id" />
        <result column="account_name" property="accountName" />
        <result column="product_name" property="name" />
        <result column="price" property="price" />
        <result column="category" property="category" />
        <result column="stock" property="stock" />
        <result column="is_stopped" property="isStopped" />
        <result column="description" property="description" />
    </resultMap>
    <select id="findProduct" resultMap="productDetail">
        SELECT
            products.id AS id,
            accounts.name AS account_name,
            products.name AS product_name,
            products.price AS price,
            products.category AS category,
            products.stock AS stock,
            products.is_stopped AS is_stopped,
            products.description AS description
        FROM products
        INNER JOIN accounts
        ON accounts.id = products.account_id
        WHERE products.id = #{id}
    </select>
</mapper>