<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.indoor.mapper.ReviewMapper">
    <resultMap id="review" type="com.example.indoor.entity.Review">
        <result column="id" property="id" />
        <result column="product_id" property="productId" />
        <result column="account_id" property="accountId" />
        <result column="score" property="score" />
        <result column="comment" property="comment" />
        <result column="created_date" property="createdDate" />
        <result column="updated_date" property="updatedDate" />
    </resultMap>
    <select id="findReview" resultMap="review">
        SELECT * FROM reviews WHERE id = #{id}
    </select>
    <insert id="insert" parameterType="com.example.indoor.entity.Review">
        INSERT INTO reviews (
            product_id,
            account_id,
            score,
            comment,
            created_date,
            updated_date
        ) VALUES (
            #{productId},
            #{accountId},
            #{score},
            #{comment},
            DEFAULT,
            DEFAULT
        )
    </insert>
    <update id="update" parameterType="com.example.indoor.entity.Review">
        UPDATE reviews SET score = #{score}, comment = #{comment}, updated_date = DEFAULT WHERE id = #{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM reviews WHERE id = #{id}
    </delete>
    <!-- 内部結合 -->
    <resultMap id="userReview" type="com.example.indoor.entity.Review">
        <result column="id" property="id" />
        <result column="account_id" property="accountId" />
        <result column="account_name" property="accountName" />
        <result column="product_id" property="productId" />
        <result column="score" property="score" />
        <result column="comment" property="comment" />
        <result column="created_date" property="createdDate" />
        <result column="updated_date" property="updatedDate" />
    </resultMap>
    <select id="findUserReviews" resultMap="userReview">
        SELECT
            reviews.id AS id,
            reviews.account_id AS account_id,
            accounts.name AS account_name,
            reviews.product_id AS product_id,
            reviews.score AS score,
            reviews.comment AS comment,
            reviews.created_date AS created_date,
            reviews.updated_date AS updated_date
        FROM reviews
        INNER JOIN accounts
        ON accounts.id = reviews.account_id
    </select>
</mapper>